ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 100px 0 100px 0;
}

.header_logo{
  height: 100%;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  width: 100%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  max-height: 90px;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0 30px;

  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #282c34;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main{
  display: flex;
  justify-content: center;
  text-align: start;

  gap: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}
